
.footer_black {
    color: #8F8F8F;
    background-color: #252525;
    bottom: 0;
    width: 100%;
}
footer p {
    padding-bottom: .5em;
    text-align: center;
}
header{
    text-align: center;
}
body{
    width: 1000px;
    margin: 0 auto; 
    
    background: -webkit-linear-gradient(-2deg, rgb(125, 200, 246), rgb(235, 184, 184));
    background: linear-gradient(-2deg, rgb(125, 200, 246), rgb(235, 184, 184));



}
ul {
    list-style-position: inside;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


    table, th, td {
        border: 1px solid black;
      }

.bien{
    color : green;
}

.mal{
    color : red;
}

.link
{
color: #8F8F8F;
   text-decoration: none; 
   background-color: none;
}

.citations{
    font-size: 150%;

}

.li_bien{
    background-image: url("../images/bien.png");
}   
.li_mal{
    background-image: url("images/mal.png");
}
.li_chat{
    background-image: url("images/chat.png");
}
.li_pos{
    background-repeat: no-repeat;
    background-position: right;
    
    
}